/arthurs_analysis
/capacity_runtime
/figures
/tortuosity_std
/c2
/args.conf
/.vscode
/build-Caterpillar-Desktop-Debug
/run.sh
/build
__pycache__/
/GUI/New Folder
/GUI/.gitignore
/compiler.sh
/gitignore
/tests
/output
/simulations_html
/config_*.json
/useful_python_scripts