/arthurs_analysis
/capacity_runtime
/figures
/tortuosity_std
/c2
/args.conf
/useful_python_scripts
/.vscode
/build-Caterpillar-Desktop-Debug
/run.sh
/__pycache__
/GUI/qcustomplot-source
/GUI/New Folder
/GUI/.gitingore
/compiler.sh
/gitingore
